.card{
    background-color: #C31012;
    color: white;
    padding: 5%;
    border-radius: 15px;
    max-width: 100%;
    display: flex;
    margin-left: 2%;
    margin-right: 2%;
    
}
.card-reverse{
    background-color: transparent;
    color: black;

}
.btn-primary{
    margin: 0 auto;
}

#card-circle-1{
    background-color: #e1dede49;
    width: 38px;
    height: 38px;
    top :-13px;
    left: -20px;
    position: absolute;
    z-index: -1;
}

#decorate-circle{
    background-color:  #d82329;
    width: 66px;
    height: 66px;
    top: -30px;
    right: 45px;
    position: absolute;
    z-index: 2;
}

#decorate-circle2{
    background-color:  #d82329;
    width: 38px;
    height: 38px;
    top: 50px;
    right: -105px;
    position: absolute;
    z-index: 2;
}
#decorate-circle3{
    background-color:  #d82329;
    width: 38px;
    height: 38px;
    z-index: 2;
    transform: translateY(-60px);
    position: absolute;
    left: 450px;;
    
}