.career-images{
    background-image: url(https://sun-asterisk.vn/wp-content/uploads/2020/11/career-bg.jpg);
    border-radius: 25px;
    margin: 6%;
}

.overlay  {
    
    background-color: rgba(195, 16, 18, 0.9);
    border-radius: 25px;
    padding: 5%;
    text-align:center
}

#c1{
    background-color: #d82329;
    height: 200px;
    width: 200px;
    padding: 5px;
    justify-content: center;
    justify-self: center;
    color: white;
    margin: 0 auto;
    z-index: 1;
    
}
#c1-content{
    padding-top: 30%;
    justify-content: center;
}

#join-sun-btn{
    color: #d82329;
    margin-top: 5%;
    max-width: 50%;
    margin: 0 auto;
    
}
#join-sun-btn:hover{
    color: white;
}
#career-content1{
    
    font-size: 20px;
    
    font-weight: 600;
    
    color: white; 
    
    margin-top: 4%;
}

#career-content2{
    
    color: white; 

    font-size: 20px;
    
    margin-top: 4%;
}