.counter
{
    font-size:100px;
    color: #C31012;
    font-weight: 700;
    line-height: 1.2;
    margin-top: 4%;   
     
}
.counter-content {
    font-weight: normal;
    font-size: 30px;
    color: #D8DADC;
}
    
.subsup-container {
    position: relative;
    display: inline-block;
    font-size: 5px;
}
.subscript {
    position:relative;
    bottom: -0.00em;
    top: 3em;
    font-size: 0.5em;
    font-size: 30px
    
}
.superscript {
    position: absolute;
    top: 0.6em;
    font-size: 50px;
    left: 10px
}

.see-all-project-btn
{
    max-width: 35%;
    margin-top: 4%;
    margin-left: 6%;
}

.slider {

    position: relative;
    overflow: hidden;
    max-width: 900px;
    max-height: auto;
    background-color: white;
    transform: translate(-25%,-15%);
    scale:1.15;
}

.slide {
    display: none;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.slide.active {
    display: flex;
    opacity: 1;
}

.slide-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
}

.slide-text {
    position: absolute;
    flex: 1;
    padding-left: 21px;
    padding-right: 39px;
    padding-top: 340px;
    padding-bottom: 20px;
}

.slide-image {
    flex: 1;
    padding: 20px;
    text-align: right;
}

.slide-image img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.slider-controls {
    position: absolute;
    bottom: 20px;
    right: 36px;
    transform: translateY(52%);
    display: flex;
    gap: 20px;
    z-index: 1;
    scale: 0.8;
}

.slider-controls button {
    background-color: #f5f5f5;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    color: #7d7d7d;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.slider-controls button:hover {
    background-color: #ff4c4c;
    color: #fff;
}

.content-text{
    transform: translateY(-122px);
    scale: 0.8;
}

@media(max-width:992px){
    .see-all-project-btn{
        max-width: 50%;
        
    }
    .subscript{
        font-size: 20px;
        top: 4.5em;
    }
}