.workenv-content {
    display: flex;
    margin-bottom: 6%;
    font-weight: 200;
}

.workenv-img2 {
    object-fit: contain;
    margin-left: 25%; 
    max-width: 50%;
    scale: 2; 
    height: auto;
}

.workenv-btn {
    width: 80%; 
    margin-top: 2%;
}
.work-env-p {
    padding-top: 3%
}

@media(max-width:992px) {
    .workenv-img2 {
        margin-top: 20%;
    }
}
